{% extends 'base/main.html' %} {% load static %} {% block content %}

<main>
  <div>
    <div class="absolute top-0 left-0 m-5 flex gap-x-2">
      <img
        class="mx-auto w-8"
        src="{% static 'images/newlogo2.png' %}"
        alt="logo"
      />
      <span class="text-white text-xl">FaceChaser</span>
    </div>
    <section
      class="gradient-form h-screen dark:bg-neutral-700 flex items-center justify-center"
    >
      <div class="container h-full p-10">
        <div
          class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-200 dark:text-neutral-200"
        >
          <div class="w-full">
            <div class="block rounded-lg shadow-lg bg-neutral-800">
              <div class="g-0 lg:flex lg:flex-wrap">
                <!-- Left column container-->
                <div class="px-4 md:px-0 lg:w-6/12">
                  <div class="md:mx-6 md:p-12">
                    <!--Logo-->
                    <div class="text-center">
                      <img
                        class="mx-auto w-48"
                        src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        alt="logo"
                      />
                      <h4 class="mb-12 mt-1 pb-1 text-5xl font-semibold">
                        FaceChaser
                      </h4>
                    </div>

                    <form id="form">
                      <p class="text-2xl mb-4">Join a meeting</p>
                      <!--Username input-->
                      <div class="relative mb-4" data-te-input-wrapper-init>
                        <input
                          type="text"
                          class="peer block min-h-[auto] w-full rounded border-2 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                          id="exampleFormControlInput1"
                          name="room"
                          placeholder="Room"
                        />
                        <label
                          for="exampleFormControlInput1"
                          id="exampleFormControlInput2"
                          class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none text-neutral-200 peer-focus:text-primary"
                          >Room
                        </label>
                      </div>

                      <!--Password input-->
                      <div class="relative mb-4" data-te-input-wrapper-init>
                        <input
                          type="text"
                          class="peer block min-h-[auto] w-full rounded border-2 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                          id="exampleFormControlInput11"
                          name="username"
                          placeholder="Username"
                        />
                        <label
                          for="exampleFormControlInput11"
                          id="exampleFormControlInput12"
                          class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none text-neutral-200 peer-focus:text-primary"
                          >Username
                        </label>
                      </div>

                      <!--Submit button-->
                      <div class="mb-12 pb-1 pt-1 text-center">
                        <button
                          class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                          type="submit"
                          id="Join"
                          data-te-ripple-init
                          data-te-ripple-color="light"
                          style="
                            background: linear-gradient(
                              to right,
                              #ee7724,
                              #d8363a,
                              #dd3675,
                              #b44593
                            );
                          "
                        >
                          Join
                        </button>
                        <button
                          class="mb-3 inline-block w-full rounded border-2 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] hover:bg-neutral-500 hover:bg-opacity-20"
                          type="submit"
                          id="JoinAsGuest"
                          data-te-ripple-init
                          data-te-ripple-color="light"
                        >
                          Join as Guest
                        </button>
                      </div>
                    </form>
                  </div>
                </div>

                <!-- Right column container with background and description-->
                <div
                  class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
                  style="
                    background: linear-gradient(
                      to right,
                      #ee7724,
                      #d8363a,
                      #dd3675,
                      #b44593
                    );
                  "
                >
                  <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                    <h4 class="mb-6 text-xl font-semibold">
                      The perfect video chatting application...
                    </h4>
                    <p class="text-sm">
                      FaceChaser is a simple yet effective video chatting
                      application for you to use during any occasion. Supporting
                      chat rooms of any size, it features the basic video
                      chatting capabilities and additional features like live
                      captioning. Start your own meeting or join an existing
                      one. Enter the meeting room name, your display name or
                      simply join as a guest and start using FaceChaser right
                      away.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<script type="text/javascript">
  let clickedButton = "";
  document.getElementById("Join").addEventListener("click", function () {
    clickedButton = "Join";
  });

  document.getElementById("JoinAsGuest").addEventListener("click", function () {
    clickedButton = "JoinAsGuest";
  });
  let form = document.getElementById("form");

  let handleSubmit = async (e) => {
    console.log(e);
    e.preventDefault();
    let room = e.target.room.value.toUpperCase();
    let name = "";
    if (clickedButton == "Join") {
      name = e.target.username.value;
    } else if (clickedButton == "JoinAsGuest") {
      name = "Guest";
    }

    let response = await fetch(`/get_token/?channel=${room}`);
    let data = await response.json();

    let rtmtokenresponse = await fetch(`/get_rtm_token/`);
    let rtmtokendata = await rtmtokenresponse.json();

    let UID = data.uid;
    let token = data.token;

    let userAccount = rtmtokendata.uid;
    let rtmtoken = rtmtokendata.token;

    sessionStorage.setItem("UID", UID);
    sessionStorage.setItem("token", token);
    sessionStorage.setItem("room", room);
    sessionStorage.setItem("name", name);
    sessionStorage.setItem("userAccount", userAccount);
    sessionStorage.setItem("rtmtoken", rtmtoken);

    window.open("/room/", "_self");
  };

  form.addEventListener("submit", handleSubmit);

  const inputElement = document.getElementById("exampleFormControlInput1");
  const inputLabel = document.getElementById("exampleFormControlInput2");
  const inputElement2 = document.getElementById("exampleFormControlInput11");
  const inputLabel2 = document.getElementById("exampleFormControlInput12");

  let inputTransition = () => {
    const hasText = inputElement.value.trim() !== "";
    if (hasText) {
      inputLabel.classList.add("-translate-y-[0.9rem]");
      inputLabel.classList.add("scale-[0.8]");
      inputLabel.classList.add("text-primary");
    } else {
      inputLabel.classList.remove("-translate-y-[0.9rem]");
      inputLabel.classList.remove("scale-[0.8]");
      inputLabel.classList.remove("text-primary");
    }
  };

  let inputTransition2 = () => {
    const hasText = inputElement2.value.trim() !== "";
    if (hasText) {
      inputLabel2.classList.add("-translate-y-[0.9rem]");
      inputLabel2.classList.add("scale-[0.8]");
      inputLabel2.classList.add("text-primary");
    } else {
      inputLabel2.classList.remove("-translate-y-[0.9rem]");
      inputLabel2.classList.remove("scale-[0.8]");
      inputLabel2.classList.remove("text-primary");
    }
  };

  inputElement.addEventListener("input", inputTransition);
  inputElement2.addEventListener("input", inputTransition2);
</script>

{% endblock content %}
